*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

.header{
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
  position: fixed !important;
  transition: all 0.4s ease-in-out 0s;
  width: 100%;
  z-index: 1;
}
 .logo{
  font-size: 20px;
  color: #263238;
}
.navbar {
  display: flex;
  gap: 6rem;
}
.navbar li {
  list-style: none;
  position: relative;
} 
.scrolling{
  display: flex;
  justify-content: space-between;
  padding: 1rem 4rem;
  position: fixed !important;
  transition: all 0.4s ease-out 0s;
  width: 100%;
  background-color: white;
  z-index: 1;
}
.navbar li a{
  text-decoration: none;
  color: #263238;
  transition: .3s ease-in-out;
}
.navbar li a:hover{
  color: #ff81ae;
 }

.navbar li a:hover::after{
  content: "";
  width: 100%;
  height: 2px;
  background-color: #ff81ae;
  position: absolute;
  bottom: -4px;
  left: 1px;
 }

.home{
  background-color: whitesmoke;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 3rem;
}

.programmer-photo{
  width: 45%;
}
.brief{
  padding-top: 16rem;
    padding-left: 6rem;
}

.brief .hi{
  font-size: 45px;
  color: #263238;
  font-weight: bold;
}

.brief .name{
  font-size: 40px;
    font-weight: bold;
    color: #263238;
}
.brief .name span{
  color: #ff81ae;
}
.brief .role{
  font-size: 30px;
  margin-top: 30px;
  color: #263238;
}

.brief .view-cv {
  margin-top: 25px;
  width: 150px;
  background-color: #ff81ae;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  transition: .7s ease-in;
}

.brief .view-cv a{
  text-decoration: none;
  color: #263238;
  padding: 10px;
  border-radius: 20px;
  width: 100%;
}

.brief .view-cv a:hover{
color: white;
transition: 1s;
}

.brief .view-cv:hover{
background-color: #263238;
}

.brief .icons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 155px;
  padding: 15px 5px 0px 0px;
}

.brief .icons a{
  font-size: 25px;
  color: #263238;
  transition: .7s;
}

.brief .icons a .svg-inline--fa{
  padding: 7px ;
  border-radius: 20px;
}

.brief .icons a :hover{
  box-shadow: 0px 0px 15px 0px #ff81ae;
  transition: .7s;
  background-color: white;
}

.programmer-photo{
  padding-top: 2rem;
  height: 85%;
}

.about {
  padding-top: 5rem;
  background-image: url(../src/assets/6560073.jpg);
  z-index: -1;
  width: 100%;
  background-size: cover;
  color: white;
  padding-bottom: 4rem;
}

.about .title{
  text-align: center;
  color: #ff81ae;
  font-size: 40px;
}

.about .description{
  text-align: center;
  padding-top: 20px;
  margin: 0px 18rem;
  font-size: 20px;
  line-height: 35px;
}

.skills h2 , .projects h2{
  text-align: center;
  padding-top: 3rem;
  color: #ff81ae;
  font-size: 30px;
}

.skills h2 span{
  color: white;
}

.skills .icons .languages , .tools{
  display: flex;
  justify-content: space-around;
  margin: 3rem 6rem;
  flex-wrap: wrap;
}

.container {
  position: relative;
}

.skills .icons .languages img , .tools img{
  border-radius: 10px;
  box-shadow: 0px 0px 15px 0px #ffd9e7;
  transition: all 0.3s ease-out 0s !important;
  height: 115px;
  width: 115px;
  text-align: center;
  padding: 10px;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  /* background-color: #ffd9e7; */
  background-color: #ffd9e7c9;
  border-radius: 10px;
}

.text {
  color: #263238;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
}

.skills .icons .languages img :hover{
  border-radius: 10px;
  box-shadow: 0px 0px 15px 0px #ff81ae;
  transition: 1s;
}

.skills .icons .tools img :hover{
  border-radius: 10px;
  box-shadow: 0px 0px 15px 0px #ff81ae !important;
  transition: .7s;
}

.projects h2{
  text-align: center;
  color: #ff81ae;
  font-size: 40px;
}

.projects{
  background-color: whitesmoke;
  padding-bottom: 3rem;
}

.card{
  border-radius: 10px;
  width: 360px;
  height: 480px;
  margin: 3rem;
  box-shadow: #636363 0px 0px 15px;
  transition: all 0.3s linear;
  padding: 10px;
  text-align: center;
}
.card:hover{
  box-shadow: 2px 4px 25px  #636363;
  transform: translate3D(0, -9px, 0);
  background-color: white;
}

.card h3{
  color: #ff81ae;
  padding: 10px;
}

.card p {
  padding-top: 7px;
  line-height: 22px;

}

.image-card{
  width: 338px;
  height: 230px;
  border-radius: 10px;
}

.card-links{
  padding-top: 15px;
  display: flex;
  justify-content: space-around;
}

.card-links div{
  padding: 10px;
  background-color: #ff81ae;
  border-radius: 10px;
  width: 80px;
  font-weight: bold;
  transition: .5s ease-in;
}

.card-links div a:hover{
color: white;
}

.card-links div:hover{
background-color: #f96196;
}

.card-links a{
  text-decoration: none;
  color: #263238;
  transition: .5s ease-in;
}

.cards-section{
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  /* margin-left: 5.5rem; */
  justify-content: center;
}

.card :hover{
  /* box-shadow: #ff81ae 0px 0px 15px; */
  transition: all 0.3s linear;
}

#contacts{
  padding-top: 2rem;
  background-image: url(../src/assets/6560073.jpg);
  z-index: -1;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-bottom: 3rem;
}

#contacts h2{
  text-align: center;
  color: #ff81ae;
  font-size: 40px;
  padding-top: 3rem;
}

#contacts .statement{
  text-align: center;
  padding-top: 15px;
}

.email-icon , .address-icon , .phone-icon {
  background-color: #ff81ae;
  border-radius: 30px;
  margin: 1rem;
  padding: 20px;
  font-size: 25px;
}

.address , .phone , .email{
  display: flex;
}

.info a{
  text-decoration: none;
  color: white;
}

.info p :hover {
  color: #ff81ae;
}

.phone div , .address div , .email div {
  padding: 18px;
}

.social {
  margin-left: 6rem;
}

.contact-form form{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact-content{
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
  padding: 4rem;
  flex-wrap: wrap;
}

.contact-form form input , button{
  width: 32rem;
  height: 3rem;
  font-size: 15px;
  background-color: #efefef;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
}

.contact-form form textarea{
  width: 32rem;
  height: 10rem;
  font-size: 15px;
  background-color: #efefef;
  border: none;
  border-radius: 5px;
  padding: 5px 0px 0px 10px;
}

.contact-form form .submit-btn{
  width: 10rem;
  background-color: #ff81ae;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  color: #263238;
  transition: .5s ease-in;
}

.contact-form form .submit-btn:hover{
  background-color: #f96196;
  color: white;
}

.contact-content p {
  padding-top: 5px;
}

.social-icons{
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  width: 135px;
  margin-left: 37px;
  gap: 2rem;

}

.social-icons a{
  font-size: 25px;
  color: white;
  transition: .4s;
}

.social-icons a :hover{
  color: #ff81ae;
  font-size: 30px;
  transition: .4s;
}

#mobile{
  display: none;
}

@media (max-width: 1290px){
  .brief {
    padding-top: 12rem;
    padding-left: 1rem;
}

.about .description {
  margin: 0px 8rem;
}
.contact-content {
      width: 100%;
}
.social-icons {
  margin-bottom: 3rem;
}
.container {
  margin-bottom: 2rem;
  margin-right: 1rem;
}
}

@media (max-width: 768px) {
.brief {
    padding-top: 12rem;
    padding-left: 0rem;
    text-align: center;
}
.programmer-photo {
    width: 80%;
}
.brief .icons {
  margin: 0 auto;
}
.brief .view-cv {
  margin: 0 auto;
    margin-top: 25px;
}
.about .description {
    margin: 0px 2rem;
    font-size: 18px;
}
.container {
  margin-bottom: 2rem;
  margin-right: 1rem;
}
.skills .icons .languages, .tools {
      margin: 2.5rem 4rem;
}
.social-icons {
  margin-bottom: 3rem;
}
.contact-form form .submit-btn {
  margin-left: 10rem;
}
.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5rem;
  position: fixed;
  top: 59px;
  right: -350px;
  width: 328px;
  height: 100vh;
  background-color: white;
  box-shadow: 0px 40px 60px rgb(0 0 0 / 10%);
  padding: 30px 0px 0px 29px;
  transition: .3s ease-in-out;
}

.navbar.active{
  right: 0px;
}

#mobile{
  display: block;
  display: block;
  font-size: 24px;
  margin-right: -20px;
  color: #263238;
  cursor: pointer;
}
.header {
  padding: 1rem 4rem;
  background-color: white;
}
.card{
  width: 440px;
  height: 500px;
}
.image-card {
  width: 405px;
  height: 240px;
}
.card p {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.card-links {
  padding-top: 30px;
}
}

@media (max-width: 600px) {
.brief {
    padding-top: 12rem;
    padding-left: 0rem;
    text-align: center;
}
.programmer-photo {
    width: 80%;
}
.brief .icons {
  margin: 0 auto;
}
.brief .view-cv {
  margin: 0 auto;
    margin-top: 25px;
}
.about .description {
    margin: 0px 2rem;
    font-size: 18px;
}
.container {
    margin-bottom: 2rem;
}
.skills .icons .languages, .tools {
      margin: 2.5rem 4rem;
}
.social-icons {
  margin-bottom: 3rem;
}
.contact-form form .submit-btn {
  margin-left: 10rem;
}
.contact-form form input {
  width: 21rem;
}
.contact-form form textarea {
  width: 21rem;
}
.contact-form form .submit-btn {
  margin-left: 6rem;
}
#contacts .statement {
  padding-left: 10px;
  padding-right: 10px;
}
.card{
  width: 360px;
  height: 480px;
}
.image-card{
  width: 338px;
  height: 230px;
}
.social {
  margin-left: 2rem;
}
.brief .name {
  padding: 0px 8px;
}
.brief .role {
  padding: 0px 3rem;
}
} 


